@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

#container {
  border: 1px solid black;
  height: 60vh;
  width: 920px;
}

#drum-machine {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

#pads {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.drum-pad {
  font-size: 4em;
  margin: 4px 4px 4px 4px;
}

#display {
  border: 1px solid black;
  height: 1.5rem;
  width: 15em;
  background-color: azure;
}